.main-about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; /* looks at viewport of webpage */
  margin-left: 10em;
  margin-right: 10em;
  position: relative;
}

.main-image {
  flex: 1 0 400px;
}

.main-image > img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0.5em 0.5em 1em #B1AA9E);
}

.main-description {
  flex: 1.5 0 400px;
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: left;
  margin-left: 5em;
  color: #1b1b1b;
}

.main description h1 {
  text-transform: none;
}

#email {
  height: 0.9em;
}

#typed{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

@media only screen and (max-width: 1350px) {

  .main-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; /* looks at viewport of webpage */
    margin-left: 6em;
    margin-right: 6em;
    position: relative;
  }

  .main-image {
    flex: 0 1 350px;
  }

  .main-description {
    flex: 1.5 0 350px;
    margin-left: 3em;
    font-size: 1.1em;
    text-align: left;

  }

  h1 {
    text-align: left;
    font-size: 1.5em;
  }

  #email {
    height: 0.9em;
  }
}

@media only screen and (max-width: 1100px) {

  .main-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; /* looks at viewport of webpage */
    margin-left: 5em;
    margin-right: 5em;
    position: relative;
  }

  .main-image {
    flex: 0 1 300px;
  }

  .main-description {
    flex: 1.5 0 350px;
    margin-left: 3em;
    font-size: 1.1em;
    text-align: left;
  }

  #email {
    height: 0.9em;
  }
}

@media only screen and (max-width: 800px) {

  .main-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
  }

  .main-image {
    flex: 0 1 550px;
  }

  .main-description {
    margin-left: 1em;
    flex: 1 0 600px;
    font-size: 1.1em;
    text-align: left;
  }

  #email {
    height: 0.9em;
  }
}

@media only screen and (max-width: 600px) {
  .main-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-left: 2em;
    margin-right: 2em;
  }

  .main-image {
    flex: 1 1 600px;
  }

  .main-description {
    flex: 1 1 600px;
    margin-left: 0em;
    font-size: 1em;
    text-align: left;
  }

  #email {
    height: 0.9em;
  }
}
