/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 200px;
  margin: 1em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider in it's base state*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 90px;
  width: 90px;
  left: 5px;
  top: 5px;
  text-align: center;
  line-height: 90px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100%;
  color: white;
  content: "";
}

input:checked + .slider:before {
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  content: "";
}

.slider.purple {
  background-color: #74253a;
  content: "";
}

/* the color of a "purple" slider's round bit */
.slider.purple::before {
  background-color: #BE8F17;
  content: "";
}

/* the color of a "purple" slider's after state */
input:checked + .slider.purple {
  background-color: #f7db78;
  content: "";
}

.slider.green {
  background-color: #7dd181;
}
/* the color of a "green" slider's round bit */
.slider.green::before {
  background-color: #23425a;
  /* content: "DAY"; */
}

/* the color of a "green" slider's after state */
input:checked + .slider.green {
  background-color: #5375cf;
  /* content: "NIGHT"; */
}

.slider.pink {
  background-color: #ff6867;
}
/* the color of a "pink" slider's round bit */
.slider.pink::before {
  /* background-color: #74253a; */
  background-color: #f2b3ca;
}
/* the color of a "pink" slider's after state */
input:checked + .slider.pink {
  background-color: #04563f;
}
