body {
    margin: auto 0;
    font-family: 'Hind', sans-serif;
    background-color: #fefefa;
    color: #1a1110;
}

.summary {
    margin: auto 0;
    font-family: 'Hind', sans-serif;
    background-color: #fefefa;
    color: #1a1110;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 1.5em;
    font-size: 0.8em;
}

.regular {
  margin: auto 0;
  font-family: 'Hind', sans-serif;
  background-color: #fefefa;
  color: #1a1110;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 1.5em;
}

time {
    font-family: 'Red Hat Mono', monospace;
    text-transform: uppercase;
    font-size: 0.8em;
}

.tags {
    font-family: 'Red Hat Mono', monospace;
    text-transform: uppercase;
    font-size: 0.8em;
}

a {
    color: #ff3503;
    text-decoration: none;
}

a:hover{
    background-color: #ff3503;
    color: white;
}

.main-description h1 {
    font-family: 'Spectral', serif;
    text-align: left;
    font-size: 2em;
}

/* NAV */
.main-nav {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    border-bottom: #1a1110 1px solid;
    z-index: 1;
}

li {
    font-family: 'Red Hat Mono', monospace;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 1em;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-bottom: 0.3em;
}

.main-nav a {
    color: #1a1110;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 0.3em;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.main-nav a:hover{
    background-color: #1a1110;
    color: white;
}

.sticky {
    align-self: flex-start;
    top: 0;
    width: 100%;
}

.main-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; /* looks at viewport of webpage */
    margin-left: 10em;
    margin-right: 10em;
    position: relative;
}

.main-image {
  flex: 1 0 400px;
}

.main-image > img {
    width: 100%;
    height: auto;
}

.main-description {
    flex: 1.5 0 400px;
    font-size: 1.3em;
    text-align: left;
    margin-left: 5em;
    color: #1b1b1b;
}

.footer {
  font-size: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

#email {
  height: 0.9em;
}

#typed{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#soap {
  width: 800px;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1350px) {

    .main-about {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh; /* looks at viewport of webpage */
        margin-left: 6em;
        margin-right: 6em;
        position: relative;
      }

    .main-image {
      flex: 0 1 350px;
    }

    .main-description {
      flex: 1.5 0 350px;
      margin-left: 3em;
      font-size: 1.1em;
      text-align: left;

    }

    .main-description h1 {
        text-align: left;
        font-size: 1.5em;
    }

    #email {
      height: 0.9em;
    }
}

@media only screen and (max-width: 1100px) {

    .main-about {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh; /* looks at viewport of webpage */
        margin-left: 5em;
        margin-right: 5em;
        position: relative;
      }

    .main-image {
      flex: 0 1 300px;
    }

    .main-description {
      flex: 1.5 0 350px;
      margin-left: 3em;
      font-size: 1.1em;
      text-align: left;

    }

    .main-description h1 {
        text-align: left;
        font-size: 1.5em;
    }

    #email {
      height: 0.9em;
    }
}

@media only screen and (max-width: 800px) {

    .regular {
      margin: auto 0;
      font-family: 'Hind', sans-serif;
      background-color: #fefefa;
      color: #1a1110;
      padding-right: 1.5em;
      padding-left: 1.5em;
      padding-top: 1.5em;
    }

    .main-about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-left: 1em;
        margin-right: 1em;
      }

    .main-image {
      flex: 0 1 550px;
    }

    .main-description {
      margin-left: 1em;
      flex: 1 0 600px;
      font-size: 1.1em;
      text-align: left;
    }

    .main-description h1 {
        text-align: left;
        font-size: 1.5em;
    }

    #email {
      height: 0.9em;
    }

    #soap {
      width: 600px;
      max-width: 100%;
      height: auto;
    }
}

@media only screen and (max-width: 600px) {

  .regular {
    margin: auto 0;
    font-family: 'Hind', sans-serif;
    background-color: #fefefa;
    color: #1a1110;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 1.5em;
  }

  li {
      font-family: 'Red Hat Mono', monospace;
      text-transform: uppercase;
      font-size: 0.6em;
      margin-top: 1em;
      margin-left: 1.2em;
      margin-right: 1.2em;
      margin-bottom: 0.3em;
  }

  .main-about {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      position: relative;
      margin-left: 1em;
      margin-right: 1em;
    }

    .main-image {
      flex: 1 1 600px;
    }

    .main-description {
      flex: 1 1 600px;
      margin-left: 0em;
      font-size: 1em;
      text-align: left;
    }

    .main-description h1 {
        text-align: left;
        font-size: 1.4em;
    }

    #email {
      height: 0.9em;
    }
    #soap {
      width: 500px;
      max-width: 100%;
      height: auto;
    }
}
