body {
    margin: auto 0;
    font-family: 'Hind', sans-serif;
    background-color: #FFFDFA;
    color: #1a1110;
}

.regular {
  margin: auto 0;
  font-family: 'Hind', sans-serif;
  color: #1a1110;
  padding-right: 8em;
  padding-left: 8em;
  padding-top: 4em;
}

li {
  font-family: 'Hind', sans-serif;
  color: #1a1110;
  text-transform: none;
}

time {
    font-family: 'Red Hat Mono', monospace;
    text-transform: uppercase;
    font-size: 0.8em;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags {
  font-family: 'Red Hat Mono', monospace;
  text-transform: uppercase;
  font-size: 0.8em;
}

.tag {
  background-color: #fcc11c;
  border-radius: 15px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  line-height: 2em;
}

.tag a, .tag a::before {
  text-decoration: none;
  background: none;
  color: white;
}

.tag a:hover {
  color: black;
  transition: 0.2s;
}

a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #fcc11c;
  color: #327A7A;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: all .4s ease-in-out;
}

a:hover {
  color: #fff;
  box-shadow: inset 400px 0 0 0 #fcc11c;;
}

h1 {
    font-family: 'Spectral', serif;
    text-align: left;
    font-size: 2em;
}

/* NAV */
.sticky {
    align-self: flex-start;
    top: 0;
    width: 100%;
}

.main-nav {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    background-color: rgba(255,253,250, 0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    z-index: 1;
    width: 100%;
    position: fixed;
    padding-bottom: 0.4em;
    border-bottom: 1px #1a1110 solid;
}

.main-nav li {
    font-family: 'Red Hat Mono', monospace;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 1em;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.main-nav a {
  text-decoration: none;
  position: relative;
  background: none;
  box-shadow: none;
  color: #ff2c0b;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.main-nav a::before {
  content: '';
  background-color: rgba(0, 90, 89, .75);
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.main-nav a:hover::before {
  bottom: 0;
  height: 100%;
}

.main-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; /* looks at viewport of webpage */
    margin-left: 10em;
    margin-right: 10em;
    position: relative;
}

.main-image {
  flex: 1 0 400px;
}

.main-image > img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0.5em 0.5em 1em #B1AA9E);
}

.main-description {
    flex: 1.5 0 400px;
    font-size: 1.3em;
    text-align: left;
    margin-left: 5em;
    color: #1b1b1b;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


.footer {
  font-size: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

#email {
  height: 0.9em;
}

#typed{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#soap {
  width: 800px;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1350px) {

    .main-about {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh; /* looks at viewport of webpage */
        margin-left: 6em;
        margin-right: 6em;
        position: relative;
      }

    .main-image {
      flex: 0 1 350px;
    }

    .main-description {
      flex: 1.5 0 350px;
      margin-left: 3em;
      font-size: 1.1em;
      text-align: left;

    }

    h1 {
        text-align: left;
        font-size: 1.5em;
    }

    #email {
      height: 0.9em;
    }
}

@media only screen and (max-width: 1100px) {

    .main-about {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh; /* looks at viewport of webpage */
        margin-left: 5em;
        margin-right: 5em;
        position: relative;
      }

    .main-image {
      flex: 0 1 300px;
    }

    .main-description {
      flex: 1.5 0 350px;
      margin-left: 3em;
      font-size: 1.1em;
      text-align: left;

    }

    h1 {
        text-align: left;
        font-size: 1.5em;
    }

    #email {
      height: 0.9em;
    }
}

@media only screen and (max-width: 800px) {

    .regular {
      margin: auto 0;
      font-family: 'Hind', sans-serif;
      color: #1a1110;
      padding-right: 4em;
      padding-left: 4em;
      padding-top: 4em;
    }

    .main-about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-left: 1em;
        margin-right: 1em;
      }

    .main-image {
      flex: 0 1 550px;
    }

    .main-description {
      margin-left: 1em;
      flex: 1 0 600px;
      font-size: 1.1em;
      text-align: left;
    }

    h1 {
        text-align: left;
        font-size: 1.5em;
    }

    #email {
      height: 0.9em;
    }

    #soap {
      width: 600px;
      max-width: 100%;
      height: auto;
    }
}

@media only screen and (max-width: 600px) {

  .regular {
    margin: auto 0;
    font-family: 'Hind', sans-serif;
    color: #1a1110;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
  }

  .tag {
    background-color: #fcc11c;
    border-radius: 10px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.5em;
    font-size: 0.7em;
  }

  .main-nav li {
      font-family: 'Red Hat Mono', monospace;
      text-transform: uppercase;
      font-size: 0.6em;
      margin-top: 1em;
      margin-left: 1.2em;
      margin-right: 1.2em;
  }

  .main-nav a {
    padding-bottom: 0.65em;
  }

    .main-about {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      position: relative;
      margin-left: 2em;
      margin-right: 2em;
    }

    .main-image {
      flex: 1 1 600px;
    }

    .main-description {
      flex: 1 1 600px;
      margin-left: 0em;
      font-size: 1em;
      text-align: left;
    }

    h1 {
      text-align: left;
      font-size: 1.4em;
    }

    #email {
      height: 0.9em;
    }
    #soap {
      width: 500px;
      max-width: 100%;
      height: auto;
    }
}
