body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
}

p {
  /* border: black 1px solid; */
  font-family: 'Hind', sans-serif;
  font-size: 3rem;
  margin-left: 1em;
  margin-right: 1em;
}

.unpopular-opinion {
  font-size: 1.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 200px;
  margin-left: 0em;
  margin-right: 5em;
  box-shadow: 3px 3px 10px 1px gray;
  font-family: 'Red Hat Mono', monospace;
  font-size: 0.7rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80px;
  width: 100px;
  left: 50px;
  top: 10px;
  text-align: center;
  line-height: 80px;
  -webkit-transition: .4s;
  transition: .4s;
  /* border-radius: 100%; */
  backdrop-filter: blur(2px);
  content: "";
}

input:checked + .slider:before {
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  backdrop-filter: blur(12px);
  content: "";
}

#speed{
  background-color: rgba(182, 201, 216, 1);
}

#speed:before {
  background-color: rgba(255, 190, 0, 0.5);
}
input:checked + #speed {
  background-color: rgba(255, 92, 51, 1);
}

#speed:before{
  content: "SLOW";
}

input:checked + #speed:before {
  content: "FAST";
}

#cost {
  background-color: rgba(255, 64, 55, 1);
}

#cost:before {
  background-color: rgba(36, 24, 99, 0.5);
}
input:checked + #cost {
  background-color: rgba(254, 217, 208, 1);
}


#cost:before{
  content: "EXPENSIVE";
}

input:checked + #cost:before {
  content: "CHEAP";
}

#quality {
  background-color: rgba(127, 199, 77, 1);
}

#quality:before {
  background-color: rgba(216, 199, 6, 0.5);
}
input:checked + #quality  {
  background-color: rgba(216, 219, 217, 1);
}

#quality:before{
  content: "BAD";
}

input:checked + #quality:before {
  content: "GOOD";
}

@media only screen and (max-width: 800px) {

  p {
    /* border: black 1px solid; */
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    margin-left: 0em;
    margin-right: 0em;
  }

  .unpopular-opinion {
    font-size: 0.7rem;
  }
