.container {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  /* border: black 1px solid; */
}

input[type=text] {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  border-bottom: 1px solid #eee;
  font-size: 3em;
  background-color: inherit;
  font-family: 'Cardo', serif;
  font-weight: bold;
  width: 100%;
}

#prs {
  display: inline;
  font-size: 1.5em;
  font-family: 'Cardo', serif;
  align-items: baseline;
}
#def {
  display: inline;
  padding-left: 5px;
  font-family: 'Cardo', serif;
  font-size: 2em;
  line-height: normal;
  /* border: black 1px solid; */
}

#imgContainer {
  margin-top: 0.5em;
  width: 100%;
  height: auto;
}
img {
  padding-top: 1em;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  body {
    font-family: 'Cardo', serif;
    font-size: 0.7em;
  }
  .container {
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    /* border: black 1px solid; */
  }
  input[type=text] {
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border: 0;
    border-bottom: 1px solid #eee;
    font-size: 2em;
    background-color: inherit;
    font-family: 'Cardo', serif;
    font-weight: bold;
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  body {
    font-family: 'Cardo', serif;
    font-size: 0.6em;
  }

}
