body {
  font-size: 1em;
  background-color: black;
  margin: 0;
  padding: 0;
}

p{
  line-height: normal;
  margin-bottom: 1.5em;
  padding: 0;
}

.container {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  overflow-wrap: break-word;
}

.inner {
  margin: 2em;
  padding: 3em;
  background-color: #F7F3F1;
}

.redacted-text {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.redacted {
  background-color: black;
  color: black;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0.15em;
  padding-right: 0.15em;
  margin-bottom: 1em;
  transition: all 0.25s ease-out;
}
.redacted:hover{
  color: black;
  background-color: #F7F3F1;
}

.instruction {
  background-color: black;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0.15em;
  padding-right: 0.15em;
  margin-bottom: 1em;
  transition: all 0.25s ease-out;
}

.instruction:hover {
  color: red;
  background-color: #F7F3F1;
}

.read-instruction {
  background-color: #F7F3F1;
  font-weight: bold;
  color: red;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0.15em;
  padding-right: 0.15em;
  margin-bottom: 1em;
  transition: all 0.25s ease-out;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 0.7em;
  }
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 0.5em;
  }
}
