body {
  margin: 0;
}


.container {
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f4c2c2;
  padding: 0;
  margin: 0;
  font-size: 3em;
}

.container .sticky {
  position: sticky;
  top: 5em;
  width: 10em;
  text-align: right;
  margin: 0;
  display: block;
}

.sticky p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
}

.under {
  border-bottom: 1px black solid;
}

.over {
    border-top: 1px black solid;
}

.container .rest {
  position: relative;
  top: 3.65em;
  left: 11em;
  width: auto;
  color: black;
  /* border: 1px black solid; */
  text-align: left;
}

.rest p {
  color: white;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
  /* border: 1px black solid; */
}
