body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  position: absolute;
  width: 700px;
  height: 357px;
  margin: 0px;
  margin-bottom: -0.5em;
  padding: 0px;
  z-index: -3;
  animation-name: slidedown;
  animation-delay: 2s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-direction: normal;
}


@keyframes slidedown {
  0% {bottom: 100%;}
  70% {bottom: 0%;}
  100% {bottom: 0%;}
}

.container {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -100;
  align-items: flex-end;
  align-content: flex-end;
  margin-left: -6em;
  margin-right: -3em;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5em solid transparent;
  border-right: 10em solid transparent;
  border-bottom: 5em solid rgba(35,22,81,0.3);
  margin-left: -3em;
  margin-right: -3em;
  margin-top: -2em;
  margin-bottom: -0.5em;
  transition: all 0.5s ease-in-out;
}

.arrow-up:hover {
  transform: perspective(100px)
  translate3d(40px, -30px, 30px);
}

.arrow-up:nth-of-type(2n+1):hover {
  transform: perspective(50px)
  translate3d(-30px, 10px, 20px);
}

.arrow-up:nth-of-type(2n) {
  border-bottom: 4em solid rgba(77,204,189,0.3);
  margin: -2em;
  margin-left: -3em;
  margin-right: -3em;
}

.arrow-up:nth-of-type(3n) {
  border-bottom: 4em solid rgba(35,116,171,0.3);
  margin: -2em;
  margin-left: -3em;
  margin-right: -3em;
}
.arrow-up:nth-of-type(3n+1) {
  border-bottom: 4em solid rgba(255,132,132,0.3);
  margin: -2em;
  margin-left: -3em;
  margin-right: -3em;
}

.arrow-up:nth-of-type(4n) {
  border-left: 8em solid transparent;
}
.arrow-up:nth-of-type(4n+1) {
  border-right: 8em solid transparent;
}


@media only screen and (max-width: 1200px) {
  img {
    position: absolute;
    margin-bottom: -0.5em;
    width: 400px;
    height: auto;
  }
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 4em solid transparent;
    border-right: 8em solid transparent;
    border-bottom: 4em solid rgba(35,22,81,0.3);
    margin-left: -2em;
    margin-right: -2em;
    margin-top: -1em;
    margin-bottom: -0.5em;
    transition: all 0.5s ease-in-out;
  }
  .arrow-up:nth-of-type(2n) {
    border-bottom: 3em solid rgba(77,204,189,0.3);
    margin: -1em;
  }

  .arrow-up:nth-of-type(3n) {
    border-bottom: 3em solid rgba(35,116,171,0.3);
    margin: -1em;
  }

  .arrow-up:nth-of-type(4n) {
    border-left: 6em solid transparent;
    margin: -1em;
  }
  .arrow-up:nth-of-type(4n+1) {
    border-right: 6em solid transparent;
    margin: -1em;
  }
}


@media only screen and (max-width: 800px) {
  img {
    position: absolute;
    margin-bottom: -0.5em;
    width: 300px;
    height: auto;
  }
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 3.5em solid transparent;
    border-right: 7em solid transparent;
    border-bottom: 3.5em solid rgba(35,22,81,0.3);
    margin-left: -1.5em;
    margin-right: -1.5em;
    margin-top: -0.5em;
    margin-bottom: -1em;
    transition: all 0.5s ease-in-out;
  }
  .arrow-up:nth-of-type(2n) {
    border-bottom: 2.5em solid rgba(77,204,189,0.3);
  }

  .arrow-up:nth-of-type(3n) {
    border-bottom: 2.5em solid rgba(35,116,171,0.3);
  }

  .arrow-up:nth-of-type(4n) {
    border-left: 5em solid transparent;
  }
  .arrow-up:nth-of-type(4n+1) {
    border-right: 5em solid transparent;
  }
}

@media only screen and (max-width: 600px) {

  img {
    position: absolute;
    width: 200px;
    padding: 0px;
    height: auto;
    margin-bottom: -0.5em;
  }

  .container {
    margin-left: 0em;
    margin-right: 0em;
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 6em solid transparent;
    border-bottom: 3em solid rgba(35,22,81,0.3);
    margin-left: -3em;
    margin-right: -3em;
    margin-top: -1em;
    margin-bottom: -1em;
    transition: all 0.5s ease-in-out;
  }

  .arrow-up:hover {
    transform: perspective(50px)
    translate3d(20px, -15px, 15px);
  }

  .arrow-up:nth-of-type(2n+1):hover {
    transform: perspective(25px)
    translate3d(-15px, 5px, 10px);
  }

  .arrow-up:nth-of-type(2n) {
    border-bottom: 4em solid rgba(77,204,189,0.3);
    /* margin: -1.5em; */
    margin-left: -3em;
    margin-right: -3em;
  }

  .arrow-up:nth-of-type(3n) {
    border-bottom: 4em solid rgba(35,116,171,0.3);
    /* margin: -0.5em; */
    margin-left: -3em;
    margin-right: -3em;
  }

  .arrow-up:nth-of-type(4n) {
    border-left: 5em solid transparent;
    /* margin: -0.5em; */
    margin-left: -3em;
    margin-right: -3em;
  }
  .arrow-up:nth-of-type(4n+1) {
    border-right: 3.5em solid transparent;
    /* margin: -0.5em; */
    margin-left: -3em;
    margin-right: -3em;
  }

}
