.grid-container {
  position: relative;
  top: 0;
  left: 0;
  padding: 2em;
  padding-top: 3.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  align-items: stretch;
  justify-items: stretch;
  grid-gap: 20px;
}

.couleur {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  animation: grow 35s ease-in-out infinite alternate;
}

.couleur:hover {
  z-index: 10;
}

@keyframes grow {
  0% {transform: scale(1.0);}
  100%{transform: scale(2);}
}

@media only screen and (max-width: 600px) {

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 12px;
  }

  .couleur {
    width: 50px;
    height: 50px;
  }
}
