.grid-container {
  position: relative;
  top: 0;
  left: 0;
  padding: 2em;
  padding-top: 3.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  align-items: stretch;
  justify-items: stretch;
  grid-gap: 20px;
}

.couleur {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  animation: grow 40s ease-in-out infinite alternate;
}

.couleur:hover {
  z-index: 10;
}

@keyframes grow {
  0% {transform: scale(1.0);}
  100%{transform: scale(2);}
}
