body {
  margin: 0;
  background-color: #f4c2c2;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-size: 3em;
}

.sticky-container {
  top: 0;
  height: 100vh;
  width: 40vw;
  padding: 0;
  margin: 0;
  /* border: 1px red solid; */
}

.regular-container {
  top: 0;
  height: 100vh;
  width: 60vw;
  padding: 0;
  margin: 0;
  /* border: 1px green solid; */
}

.sticky-item {
  position: sticky;
  top: 5em;
  margin: 0;
  text-align: right;
  margin: 0;
  /* border: 1px black solid; */
}
.regular-items {
  position: relative;
  top: 5em;
  margin: 0;
  padding: 0;
  width: auto;
  color: black;
  text-align: left;
  /* border: 1px black solid; */
}

.sticky-item p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  /* border: 1px black solid; */
}

.under {
  border-bottom: 1px black solid;
  margin: 0;
  padding: 0;
}

.over {
    border-top: 1px black solid;
    margin: 0;
    padding: 0;
}

.regular-items p {
  color: white;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
  padding-left: 0.5em;
  /* border: 1px black solid; */
}

@media only screen and (max-width: 800px) {
  .container {
    font-size: 2em;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    font-size: 1.5em;
  }
}
