.translation-text {
  padding: 1.5em;
  background-color: #FEB95F;
}


.syn {
  font-size: 5em;
  line-height: normal;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 0.3em;
  color: #C2095A;
}


@media only screen and (max-width: 800px) {
  .syn {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 650px) {
  .regular {
    padding-top: 50px;
  }
  .syn {
    font-size: 2em;
  }
}
