.vertical-spacer {
  height: 15px;
  width: 100%;
}

.translation-text {
  padding: 1.5em;
  background-color: #FEB95F;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start; */
}

.syn {
  font-size: 5em;
  line-height: normal;
  font-family: 'Roboto';
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 0.3em;
  color: #C2095A;
}
