body {
  margin: auto 0;
  padding: 0;
  font-family: 'Spectral', serif;
  background-color: #f5f5f5;
  color: #1a1110;
}

.regular {
  margin: auto 0;
  font-family: 'Spectral', serif;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #1a1110;
  padding-right: 8em;
  padding-left: 8em;
  padding-top: 4em;
}

a {
  text-decoration: none;
  position: relative;
  color: #1a1110;
}

a::before {
  content: '';
  background-color: rgb(255,230,109);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

h3 a {
  text-decoration: none;
  box-shadow: none;
  color: #1a1110;
  font-weight: normal;
}

h3 a:hover {
  color: #1a1110;
  font-weight: bold;
  box-shadow: none;
  transition: 0.1s;
}

.entry {
  margin-bottom: 1.8em;
}

time {
  font-family: 'Red Hat Mono', monospace;
  text-transform: uppercase;
  font-size: 0.8em;
}

.tags {
  font-family: 'Red Hat Mono', monospace;
  text-transform: uppercase;
  font-size: 0.8em;
}
.tag {
  background-color: rgb(255,230,109);
  border-radius: 15px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  line-height: 2em;
}
.tag a, .tag a::before {
  text-decoration: none;
  background: none;
  color: #1a1110;
}
.tag a:hover {
  font-weight: bold;
  transition: 0.1s;
  box-shadow: none;
}

h1 {
  font-family: 'Spectral', serif;
  text-align: left;
  font-size: 2em;
  line-height: 1.5em;
}

/* NAV */
.sticky {
  align-self: flex-start;
  top: 0;
  width: 100%;
}

.main-nav {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255, 0.25);
  backdrop-filter: blur(12px);
  z-index: 999;
  width: 100%;
  position: fixed;
  padding-bottom: 0.4em;
  border-bottom: 1px #1a1110 solid;
  list-style: none;
}

.main-nav li {
  font-family: 'Red Hat Mono', monospace;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 1em;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.navtitle {
  text-transform: lowercase;
}

.bold {
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav a {
  text-decoration: none;
  position: relative;
  background: none;
  box-shadow: none;
  color: #1a1110;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.main-nav a::before {
  content: '';
  background-color: #FF6B6B;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: all .3s ease-in-out;
}
.main-nav a:hover{
  color: #f5f5f5;
}
.main-nav a:hover::before {
  bottom: 0;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .regular {
    margin: auto 0;
    font-family: 'Spectral', serif;
    color: #1a1110;
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 4em;
  }

  h1 {
      text-align: left;
      font-size: 1.5em;
  }
}

@media only screen and (max-width: 650px) {
  .regular {
    margin: auto 0;
    font-family: 'Spectral', serif;
    color: #1a1110;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
  }

  .tag {
    background-color: rgb(255,230,109);
    border-radius: 10px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    line-height: 1em;
    font-size: 0.8em;
  }

  .main-nav li {
    font-family: 'Red Hat Mono', monospace;
    text-transform: uppercase;
    font-size: 0.6em;
    margin-top: 1em;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  .main-nav a {
    padding-bottom: 0.65em;
  }

  h1 {
    text-align: left;
    font-size: 1.4em;
  }
}
