/* Styling elements excluding body, a, nav bar, which is handled in basic.css */

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Spectral', serif;
  text-align: left;
  font-size: 2em;
  line-height: 1.5em;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

#soap {
  width: 800px;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 800px) {

  .main-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
  }

  .main-image {
    flex: 0 1 550px;
  }

  .main-description {
    margin-left: 1em;
    flex: 1 0 600px;
    font-size: 1.1em;
    text-align: left;
  }

  #email {
    height: 0.9em;
  }

  #soap {
    width: 600px;
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  #soap {
    width: 500px;
    max-width: 100%;
    height: auto;
  }
}
