body {
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.st-image {
  flex: 1 0 600px;
}

#space-time {
  max-width: 100%;
  height: auto;
}

.context {
  flex: 1.5 0 400px;
  padding: 2em;
  font-size: 1.3em;
}

.context p {
    text-align: left;
}

@media only screen and (max-width: 800px) {

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
  }

  .st-img {
    flex: 0 1 550px;
  }

  #space-time {
    max-width: 100vw;
    height: auto;
  }

  .context {
    flex: 1 0 600px;
    font-size: 0.9em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    text-align: left;
    padding: 0em;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    position: absolute;
  }

  .st-img {
    flex: 1 1 300px;
    margin-right: 0;
    margin-left: 0;
  }

  #space-time {
    max-width: 100vw;
    height: auto;
  }

  .context {
    flex: 1 1 600px;
    font-size: 0.7em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: left;
  }
}
